.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora",serif;
    color: rgb(90, 87, 87);
} 
.headerTitleSm{
    position: absolute;
    top: 25%;
    font-size: 20px;
}   
.headerTitleLg{
    position: absolute;
    top: 10%;
    font-size: 70px;
}   
.headerImg{
    width: 100%;
    height: 450px;
    margin-top:90px ;
    object-fit: cover;
}